<div class="background">
  <div class="container">
    <div class="toolbar">
      <app-navigation-bar *ngIf="router.url=='/events'" showUserIcons="true" title="Events"></app-navigation-bar>
      <app-navigation-bar *ngIf="router.url=='/event/create'" showGoBackButton="true"
                          title="Create Event"></app-navigation-bar>
      <app-navigation-bar *ngIf="router.url.includes('/event/detail')" showGoBackButton="true"
                          title="{{eventName}}"></app-navigation-bar>
    </div>
    <div class="content">
      <app-event-list *ngIf="router.url=='/events'"></app-event-list>
      <app-event-create *ngIf="router.url=='/event/create'"></app-event-create>
      <app-event-detail (eventName)="getEventName($event)"
                        *ngIf="router.url.includes('/event/detail/')"></app-event-detail>
    </div>
  </div>
</div>
