<mat-card class="main">
  <div class="form-and-map">
    <div class="form">
      <mat-form-field>
        <input [formControl]="name" matInput placeholder="Event Name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [formControl]="teamSize" matInput min="0" placeholder="Team size limit" required type="number">
        <mat-error *ngIf="teamSize.invalid">{{getErrorMessage(teamSize)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="dateInput" [formControl]="date" [matDatepicker]="picker" matInput
               placeholder="Starting date" required>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="date.invalid">{{getErrorMessage(date)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Event Description"></textarea>
      </mat-form-field>
    </div>
    <div class="map">
      <agm-map [latitude]="0" [longitude]="0" style="height: 87vh"></agm-map>
    </div>
  </div>
</mat-card>
