.event-join-button {
  background-color: #43bc43;
  width: 100%;
}

.event-join-cancel-button {
  /*width: 30%;*/
}

.dialog-buttons {
  display: inline-flex;
  justify-content: center;
}

.dialog {
  min-width: 25vw;
}

.event-leave-button {
  width: 100%;
}

.event-create-button {
  /*background-color: #43bc43;*/
}
