.content {
  width: 75%;
  height: 100%;
}

.background {
  background-image: url("../../../assets/images/city_from_above.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
