.main-div {
  /*width: 75%;*/
  padding: 0px;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
}

.map-and-info {
  display: flex;
  flex-direction: row;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: revert;*/
}

.map {
  width: 75%;
}

.event-info {
  width: 25%;
}
