<mat-card class="main-div">
    <div class="map-and-info">
      <div class="event-info">
        <mat-card class="event-name-card">
          <mat-card-title class="event-name-status">
            {{event.name}}
            <mat-chip-list [ngSwitch]="event.status.toLocaleLowerCase()">
              <mat-chip *ngSwitchCase="'active'" color="accent" selected="true">{{event.status}}</mat-chip>
              <mat-chip *ngSwitchCase="'closed'" color="warn" selected="true">{{event.status}}</mat-chip>
              <mat-chip *ngSwitchDefault color="primary" selected="true">{{event.status}}</mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>Team size: {{event.teamSize}}</mat-list-item>
            <mat-list-item>Checkpoints count: {{event.checkpointCount}}</mat-list-item>
            <mat-list-item>Created: {{event.created}}</mat-list-item>
            <mat-list-item>Starting: {{event.starting}}</mat-list-item>
            <mat-list-item>Estimated time: {{event.estimatedTime}}</mat-list-item>
            <mat-list-item>Estimated distance: {{event.estimatedDistance}}</mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <p class="description">geras namas blogas kak tesa kasd joiijioijpijp asnlkaslk njnklnjasd nkjnkja sdnkao huausdhuausd ajapijdsi noaosndjasndn njadkjnkasnd kpaskdpaokspd nlklnasdjnjsak</p>
        </mat-card>
      </div>
      <div class="map">
        <app-map [checkpoints]="event.checkpoints"></app-map>
      </div>
    </div>
</mat-card>
