.main-div {
  padding: 0px;
  margin-top: 1.5%;
  margin-bottom: 1%;
  justify-content: center;
}

.map-and-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.map {
  width: 75%;
}

.event-info {
  width: 25%;
}
