<mat-card (keyup.enter)="login(email.value, password.value)">
  <mat-card-header class="header-text">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="login-form">
      <mat-form-field class="input-field">
        <input [formControl]="email" matInput name="email" placeholder="Email" required type="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage(this.email)}}</mat-error>
      </mat-form-field>
      <mat-form-field class="input-field">
        <input [formControl]="password" matInput name="password" placeholder="Password" required type="password">
        <mat-error *ngIf="password.invalid">{{getErrorMessage(this.password)}}</mat-error>
      </mat-form-field>
    </div>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button class="login-button" (click)="login(email.value, password.value)" color="primary" mat-raised-button>
      Login
    </button>
    <p class="sub-text">Don't have an account?</p>
    <button color="warn" mat-raised-button [routerLink]="['/register']" style="width: 100%; margin: auto">
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>
