<mat-card (keyup.enter)="login(emailInput.value, password.value)">
  <mat-card-header style="display: flex; flex-direction: column; justify-content: center">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="login-form">
      <mat-form-field style="width: 100%">
        <input #emailInput matInput placeholder="Email" name="email" [formControl]="email" type="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage(this.email)}}</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <input #passwordInput matInput placeholder="Password" name="password" [formControl]="password" type="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage(this.password)}}</mat-error>
      </mat-form-field>
    </div>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="width: 100%" (click)="login(emailInput.value, password.value)" color="primary">Login</button>
    <p style="margin-top: 35px">Don't have an account?</p>
    <button mat-raised-button style="width: 100%; margin: auto" color="warn">Sign Up</button>
  </mat-card-actions>
</mat-card>
